@import url(./css/nav.css);
@import url(./css/hero.css);
@import url(./css/Qualities.css);
@import url(./css/Products.css);
@import url(./css/Experience.css);
@import url(./css/testimnonilas.css);
@import url(./css/footer.css);
@import url(./css/animation.css);

:root {
  --primary-color: #e58411;
  --blue: #0d1b39;
  --white: #fff;
  --black: #1e1e1e;
  --gray: #8d8d8d;
  --notgray: #f7f7f7;
  --font-body: "Poppins", sans-serif;
  --font-card: Inter, sans-serif;
  --font-last: "DM Sans", sans-serif;
}

/* --- Reset & Base --- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: var(--white);
  font-family: var(--font-body);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;

  .more {
    padding-top: 1rem;
  }
}

.info_button {
  gap: 1rem;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-size: 1rem;
  background: none;
  border: none;
}

h4 {
  color: var(--primary-color);
  font-size: 1.125rem;
  letter-spacing: 0.175em;
  font-weight: 500;
}

ul {
  list-style: none;
}
nav {
  margin-top: 0;
  margin-bottom: 0;
}
.on_scroll {
  opacity: 0;
}
